body {
    text-align: center;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

img {
    width: 750px;
}

.menu {
    position: sticky;
    background: white;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    z-index: 10;
    cursor: pointer;
}

.links {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
}

.links:hover {
    font-size: 25px;
    text-decoration: underline;
    color: red;
}

#aboutmyself {
    background-image: linear-gradient(red, yellow, green);
}

#profile {
    height: 250px;
    width: 200px;
}

h1 {
    margin-top: 30px;
}

html {
    scroll-behavior: smooth;
}

#image {
    height: 750px;
    width: 750px;
}

#myname {
    font-family: 'Lobster', cursive;

}

#myhobbies {
    background-image: linear-gradient(red, yellow);
}

#mywork {
    background-image: repeating-linear-gradient(red, yellow 10%, green 20%);
}

#myinspiration {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
}

#picture {
    transition: transform .2s;
    border: 10px solid #AAAAAA;
}

#picture:hover {
    transform: scale(0.9);
}

#mycontact {
    background-image: radial-gradient(red, yellow, green);
}

#elve {
    height: 15px;
    width: 20px;
}

#face {
    height: 15px;
    width: 15px;
}
